<template>
  <div>
    <v-layout id="filters" row wrap>
      <v-flex xs12 sm6>
        <v-text-field
          v-model="filter.search_user"
          prepend-inner-icon="search"
          label="Поиск пользователя"
          single-line
          filled
          clearable
          @keyup.enter="loadItems"
          @click:clear="loadItems"
        />
      </v-flex>
      <v-flex xs12 sm6>
        <v-text-field
          v-model="filter.search_employee"
          prepend-inner-icon="search"
          label="Поиск сотрудника"
          single-line
          filled
          clearable
          @keyup.enter="loadItems"
          @click:clear="loadItems"
        />
      </v-flex>
      <v-flex xs12 sm6 md4>
        <v-dialog
          ref="startDialog"
          v-model="modal.start"
          :return-value.sync="filter.start"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :value="filter.start ? $moment(filter.start).format('ll') : ''"
              label="Начало периода"
              name="start"
              readonly
              filled
              clearable
              @click:clear="clearDateTimeFilter('start')"
              v-on="on"
            />
          </template>
          <v-date-picker
            v-model="filter.start"
            scrollable
            locale="ru-ru"
            first-day-of-week="1"
          >
            <div class="flex-grow-1" />
            <v-btn text color="primary" @click="modal.start = false">
              Отмена
            </v-btn>
            <v-btn text color="primary" @click="saveStartDateFilter">
              OK
            </v-btn>
          </v-date-picker>
        </v-dialog>
      </v-flex>
      <v-flex xs12 sm6 md4>
        <v-dialog
          ref="endDialog"
          v-model="modal.end"
          :return-value.sync="filter.end"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :value="filter.end ? $moment(filter.end).format('ll') : ''"
              label="Окончание периода"
              name="end"
              readonly
              filled
              clearable
              @click:clear="clearDateTimeFilter('end')"
              v-on="on"
            />
          </template>
          <v-date-picker
            v-model="filter.end"
            scrollable
            locale="ru-ru"
            first-day-of-week="1"
          >
            <div class="flex-grow-1" />
            <v-btn text color="primary" @click="modal.end = false">
              Отмена
            </v-btn>
            <v-btn text color="primary" @click="saveEndDateFilter">
              OK
            </v-btn>
          </v-date-picker>
        </v-dialog>
      </v-flex>
      <v-flex xs12 sm6 md4>
        <v-select
          v-model="filter.event_type"
          label="Тип"
          :items="eventTypes"
          item-text="text"
          item-value="value"
          single-line
          filled
          clearable
          @input="loadFiltered"
        />
      </v-flex>
    </v-layout>

    <v-data-table
      :headers="headers"
      :items="items"
      :options.sync="iteratorOptions"
      :server-items-length="totalItems"
      :loading="itemsLoading"
      :footer-props="footerProps"
      class="elevation-1 mx-3 my-3"
    >
      <template v-slot:item.name="{ item }">
        {{ $t("event_loggable_type." + item.event_type) }}
      </template>

      <template v-slot:item.full_name="{ item }">
        <div
          v-if="JSON.parse(item.properties).for.name"
          :to="{
            name: 'clients-id',
            params: { id: JSON.parse(item.properties).for.id }
          }"
        >
          {{ JSON.parse(item.properties).for.name }}
        </div>
        <div v-else>Не удалось загрузить</div>
      </template>

      <template v-slot:item.old_value="{ item }">
        {{ $moment(JSON.parse(item.properties).old_value).format("DD.MM.YY") }}
      </template>

      <template v-slot:item.new_value="{ item }">
        {{ $moment(JSON.parse(item.properties).new_value).format("DD.MM.YY") }}
      </template>

      <template v-slot:item.email="{ item }">
        <div v-if="JSON.parse(item.properties).by.email">
          {{ JSON.parse(item.properties).by.email }}
        </div>
        <div v-else>Не удалось загрузить</div>
      </template>

      <template v-slot:item.date="{ item }">
        {{ $moment(item.created_at).format("DD.MM.YY HH:mm") }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
import selectedHallAware from "~/mixins/selected-hall-aware";
import serverSidePaginated from "~/mixins/server-side-paginated";

export default {
  name: "SubscriptionsEventLogs",
  mixins: [selectedHallAware, serverSidePaginated],
  data: () => ({
    resource: "event-logs",
    modal: {
      start: false,
      end: false
    },
    filter: {
      start: "",
      end: ""
    },
    headers: [
      {
        text: "Изменение",
        align: "start",
        value: "name",
        sortable: false
      },
      { text: "ФИО", value: "full_name", sortable: false },
      { text: "Старое значение", value: "old_value", sortable: false },
      { text: "Новое значение", value: "new_value", sortable: false },
      { text: "Дата", value: "date", sortable: false },
      { text: "Сотрудник", value: "email", sortable: false }
    ],
    iteratorOptions: {
      itemsPerPage: 50,
      page: 1
    },
    footerProps: { "items-per-page-options": [15, 30, 50] },
    eventTypes: [
      { value: "valid_till_change", text: "Изменение времени окончания" },
      { value: "issue_date_change", text: "Изменение времени начала" }
    ]
  }),
  methods: {
    saveStartDateFilter() {
      this.$refs.startDialog.save(this.filter.start);
      this.loadItems();
    },
    saveEndDateFilter() {
      this.$refs.endDialog.save(this.filter.end);
      this.loadItems();
    },
    standardTimeFilter() {
      this.filter.start = this.$moment().format("YYYY-MM-DD");
      this.filter.end = this.$moment().format("YYYY-MM-DD");
    },
    clearDateTimeFilter(filter) {
      this.filter[filter] = null;
      this.loadItems();
    }
  }
};
</script>

<style scoped></style>
