<template>
  <v-dialog v-model="dialog" :fullscreen="fullscreen" @keydown.esc="cancel">
    <v-card>
      <v-toolbar dark color="primary" class="mb-4">
        <v-btn icon dark @click="cancel()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
        <div class="flex-grow-1" />
        <v-toolbar-items>
          <v-btn dark text @click="save">
            Сохранить
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <v-card-text>
        <locker-claim-form
          v-if="dialog"
          v-model="form"
          :halls="$store.getters['halls/all']"
          :lockers="lockers"
          :is-edit="isEdit"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import LockerClaimForm from "./LockerClaimForm";

const createForm = () => ({
  client_id: null,
  hall_id: null,
  locker_id: null,
  claim_start: null,
  claim_end: null
});
export default {
  name: "LockerClaimDialog",

  components: {
    LockerClaimForm
  },

  props: {
    fullscreen: {
      type: Boolean,
      default: true
    },

    title: {
      type: String,
      default: ""
    },

    client: {
      type: Object,
      required: false,
      default: () => ({})
    },

    claim: {
      type: Object,
      required: false,
      default: () => ({})
    },

    isEdit: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    dialog: false,
    resolve: null,
    reject: null,
    form: createForm()
  }),

  computed: {
    lockersFilter() {
      return {
        free: !this.isEdit,
        hall_id: this.form.hall_id
      };
    },

    lockers() {
      return this.$store.getters["lockers/where"]({
        filter: this.lockersFilter
      });
    }
  },

  watch: {
    // eslint-disable-next-line no-unused-vars
    "form.hall_id"(newVal, oldVal) {
      this.loadLockers();
    }
  },

  beforeMount() {
    return Promise.all([
      // todo
      this.$store.dispatch("halls/loadAll")
    ]);
  },

  methods: {
    open() {
      this.dialog = true;
      if (this.client) {
        this.form.client_id = this.client.id;
      }
      if (this.claim) {
        Object.assign(this.form, this.claim);
      }
      return new Promise((resolve, reject) => {
        this.resolve = resolve;
        this.reject = reject;
      });
    },

    save() {
      this.resolve(this.form);
      this.form = createForm();
      this.dialog = false;
    },

    cancel() {
      this.dialog = false;
    },

    loadLockers() {
      if (!this.form.hall_id) return;
      this.$store.dispatch("lockers/loadWhere", {
        filter: this.lockersFilter,
        options: {
          disablePagination: true
        }
      });
    }
  }
};
</script>

<style scoped></style>
