<template>
  <v-dialog v-model="dialog" persistent max-width="300">
    <v-card>
      <v-card-title class="text-h5">
        Продлить абонементы
      </v-card-title>
      <v-card-text>
        <div>
          Продлить абонементы <strong>{{ selected.length }} клиентам </strong>.
          Это действие нельзя будет отменить!
        </div>
        <div>
          <v-text-field
            v-model.number="days"
            type="number"
            label="Количество дней"
          ></v-text-field>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" text @click="close">
          Отмена
        </v-btn>
        <v-btn color="primary" text @click="prolong">
          ОК
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "SubscriptionProlongationDialog",
  props: {
    selected: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data() {
    return {
      dialog: false,
      days: 0
    };
  },
  methods: {
    open() {
      this.dialog = true;
    },
    close() {
      this.dialog = false;
    },
    prolong() {
      this.$emit("prolong", {
        days: this.days,
        client_ids: this.selected.map(item => item.id)
      });
      this.close();
    }
  }
};
</script>

<style scoped></style>
