<template>
  <v-dialog v-model="dialog" :fullscreen="fullscreen" @keydown.esc="cancel">
    <v-card>
      <v-toolbar dark color="primary" class="mb-4">
        <v-btn icon dark @click="cancel()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
      </v-toolbar>

      <template>
        <v-data-table
            :headers="headers"
            :items="events"
            :items-per-page="5"
            class="elevation-1 mx-3"
        >

          <template v-slot:item.name="{ item }">
            {{ $t('event_loggable_type.' + item.event_type) }}
          </template>

          <template v-slot:item.old_value="{ item }">
            {{ $moment(JSON.parse(item.properties).old_value).format('DD.MM.YY') }}
          </template>

          <template v-slot:item.new_value="{ item }">
            {{ $moment(JSON.parse(item.properties).new_value).format('DD.MM.YY') }}
          </template>

          <template v-slot:item.email="{ item }">
            {{ JSON.parse(item.properties).by.email }}
          </template>

          <template v-slot:item.date="{ item }">
            {{$moment(item.created_at).format('DD.MM.YY HH:mm')}}
          </template>

        </v-data-table>
      </template>

    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "SubscriptionActionsDialog",

  props: {
    fullscreen: {
      type: Boolean,
      default: true
    },

    title: {
      type: String,
      default: ""
    },

    subscription: {
      type: Object,
      required: false,
      default: () => ({})
    }
  },

  data: () => ({
    dialog: false,

    headers: [
      {
        text: 'Изменение',
        align: 'start',
        value: 'name',
        sortable: false,
      },
      { text: 'Старое значение', value: 'old_value', sortable: false, filterable: false},
      { text: 'Новое значение', value: 'new_value', sortable: false, filterable: false },
      { text: 'Дата', value: 'date', sortable: false, filterable: false },
      { text: 'Сотрудник', value: 'email', sortable: false, filterable: false },
    ],
    events: [],
  }),

  computed: {
    eventFilter() {
      return {
        event_loggable_type: 'subscriptions',
        // event_loggable_id: this.subscription.subscription_id,
        event_loggable_id: this.subscription.id,

      };
    },
  },


  methods: {
    open() {
      this.dialog = true;
      this.loadEvents()

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
        this.reject = reject;
      });
    },



    async loadEvents() {
      this.$store.dispatch("event-logs/loadWhere", {
        filter: this.eventFilter
      }).then(() => {
        this.events = this.$store.getters["event-logs/where"]({
          filter: this.eventFilter
        });
        console.log(this.events)
      });
    },

    cancel() {
      this.dialog = false;
    }
  }
};
</script>

<style scoped>

</style>
