<template>
  <div>
    <SubscriptionProlongationDialog
      ref="subscriptionProlongationDialog"
      :selected="selected"
      @prolong="prolong"
    />
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="items"
      :options.sync="iteratorOptions"
      :server-items-length="totalItems"
      :loading="itemsLoading"
      :footer-props="footerProps"
      item-key="id"
      show-select
      class="elevation-1"
    >
      <template #top>
        <div class="pa-3 row">
          <div class="col-12 col-md-6 col-lg-3 d-flex align-center">
            <v-text-field
              v-model="filter.search"
              class="mx-2"
              prepend-inner-icon="search"
              label="Поиск"
              single-line
              clearable
              @keyup.enter="loadItems"
            />
          </div>
          <div class="col-12 col-md-6 col-lg-3 d-flex align-center">
            <v-select
              v-model="filter.primary_hall_id"
              class="mx-2"
              :items="halls"
              item-text="title"
              item-value="id"
              label="Зал"
              single-line
              clearable
              multiple
              @input="loadFiltered"
            />
          </div>
          <div class="col-12 col-md-6 col-lg-3 d-flex align-center">
            <v-btn
              color="primary"
              class="mx-2"
              :disabled="selected.length === 0"
              @click="$refs.subscriptionProlongationDialog.open"
              >Продлить абонемент
            </v-btn>
          </div>
        </div>
      </template>
      <template #item.hall="{item}">
        <div v-if="item.primary_hall_id" class="caption text-truncate">
          {{
            $store.getters["halls/byId"]({
              id: item.primary_hall_id
            })
              ? $store.getters["halls/byId"]({
                  id: item.primary_hall_id
                }).title
              : "Загрузка..."
          }}
        </div>
      </template>
      <template #item.subscription="{item}">
        <div class="caption text-truncate">
          {{ daysTill(item) }}
        </div>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import selectedHallAware from "~/mixins/selected-hall-aware";
import serverSidePaginated from "~/mixins/server-side-paginated";
import SubscriptionProlongationDialog from "~/components/subscription-prolongation/SubscriptionProlongationDialog";

export default {
  name: "Index",
  components: { SubscriptionProlongationDialog },
  mixins: [selectedHallAware, serverSidePaginated],
  data() {
    return {
      selected: [],
      resource: "clients",
      filter: {
        status: "active"
      },
      headers: [
        {
          text: "ФИО",
          align: "start",
          sortable: false,
          value: "full_name"
        },
        {
          text: "Зал",
          align: "start",
          sortable: false,
          value: "hall"
        },
        {
          text: "Абонемент",
          align: "start",
          sortable: false,
          value: "subscription"
        }
      ],
      iteratorOptions: {
        itemsPerPage: 100,
        page: 1
      },
      footerProps: { "items-per-page-options": [15, 50, 100] },
      statuses: [
        { value: "frozen", text: "Заморожен" },
        { value: "active", text: "Активные" },
        { value: "expired", text: "Просрочен" },
        { value: "no_subscription", text: "Без абонемента" },
        { value: "not_activated", text: "Не активирован" }
      ]
    };
  },
  computed: {
    halls() {
      return this.$store.getters["halls/all"];
    }
  },
  mounted() {},
  methods: {
    loadHalls() {
      return this.$store.dispatch("halls/loadAll");
    },
    async prolong(payload) {
      try {
        await this.$axios.post("subscriptions/prolong", payload);
      } catch (e) {
        console.error(e);
      }
      this.loadItems();
    },
    daysTill(client) {
      const activeSubscription = client.active_subscriptions[0];
      if (!activeSubscription) {
        return "Нет абонемента";
      }
      const date = this.$moment.utc(activeSubscription.valid_till);
      const daysTill = this.$moment(activeSubscription.valid_till).diff(
        this.$moment(),
        "days"
      );
      const now = this.$moment().startOf("day");
      if (Math.abs(date.diff(now, "days")) === 0) {
        return "Сегодня";
      } else if (Math.abs(date.diff(now, "days")) === 1) {
        return "Завтра";
      } else {
        return "Через " + (daysTill + 1) + " дней";
      }
    }
  }
};
</script>

<style scoped></style>
