<template>
  <div>
    <v-list dense nav>
      <v-list-item
        v-for="item in mainActions"
        :key="item.title"
        link
        nuxt
        :to="item.to"
        exact
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider />

    <!--    Trainer menu-->
    <v-list v-if="isTrainer" dense nav subheader>
      <v-subheader>Мой кабинет</v-subheader>
      <v-list-item :to="{ name: 'trainers-id', params: { id: me.trainer_id } }">
        <v-list-item-icon>
          <v-icon>mdi-account</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Мои тренировки</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <!--    Trainer menu-->

    <v-list v-else dense nav subheader>
      <v-subheader>Зал</v-subheader>

      <template v-for="item in hallActions">
        <v-list-group
          v-if="item.items"
          :key="item.title"
          :prepend-icon="item.icon"
        >
          <template v-slot:activator>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </template>

          <v-list-item
            v-for="subItem in item.items"
            :key="subItem.title"
            link
            nuxt
            :to="{ name: subItem.to, params: subItem.params }"
            exact
          >
            <v-list-item-icon />

            <v-list-item-content>
              <v-list-item-title>{{ subItem.title }}</v-list-item-title>
            </v-list-item-content>

            <v-list-item-icon>
              <v-icon>{{ subItem.icon }}</v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>
        <v-list-item v-else :key="item.title" link nuxt :to="item.to" exact>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>

    <template v-if="hall">
      <v-divider />

      <v-list dense nav subheader>
        <v-subheader>Статистика</v-subheader>

        <v-list-group
          v-if="hall"
          prepend-icon="mdi-domain"
          value="true"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>{{ hall.title }}</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            link
            nuxt
            :to="{ name: 'halls-id', params: { id: hall.id } }"
            exact
          >
            <v-list-item-content>
              <v-list-item-title>Итого</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            nuxt
            :to="{ name: 'halls-id-subscriptions', params: { id: hall.id } }"
            exact
          >
            <v-list-item-content>
              <v-list-item-title>Абонементы</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            nuxt
            :to="{
              name: 'halls-id-training-sessions',
              params: { id: hall.id }
            }"
            exact
          >
            <v-list-item-content>
              <v-list-item-title>Тренировки</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            nuxt
            :to="{ name: 'halls-id-bar-items', params: { id: hall.id } }"
            exact
          >
            <v-list-item-content>
              <v-list-item-title>Бар</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </template>

    <template v-if="isOwner">
      <v-divider />

      <v-list dense nav subheader>
        <v-subheader>Управление</v-subheader>

        <v-list-item
          v-for="item in adminActions"
          :key="item.title"
          link
          nuxt
          :to="item.to"
          exact
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="isOwner" @click="payDialog = true">
          <v-list-item-icon>
            <v-icon>mdi-cogs</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ paymentDate }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </template>

    <template>
      <v-row justify="center">
        <v-dialog v-model="payDialog" persistent max-width="350">
          <v-card>
            <v-card-title>
              Правка даты оплаты сервера
            </v-card-title>
            <v-card-text>
              <v-text-field
                v-model="paymentDate"
                label="Дата оплаты сервера"
              ></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="storePaymentDate()">
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </template>
  </div>
</template>

<script>
import auth from "../../../mixins/auth";
import selectedHallAware from "../../../mixins/selected-hall-aware";

export default {
  mixins: [auth, selectedHallAware],

  data: () => ({
    mainActions: [
      { title: "Главная", icon: "mdi-home-outline", to: { name: "index" } }
    ],

    trainerActions: [
      {
        title: "Тренировки",
        icon: "mdi-account-multiple-outline",
        to: { path: "trainers/" }
      }
    ],

    hallActions: [
      {
        title: "Клиенты",
        icon: "mdi-account-multiple-outline",
        to: { name: "clients" }
      },
      {
        title: "Шкафчики",
        icon: "mdi-locker-multiple",
        to: { name: "lockers" }
      },
      {
        title: "Сотрудники",
        icon: "mdi-account-box-multiple",
        to: { name: "employees" }
      },
      { title: "Тренеры", icon: "mdi-account-star", to: { name: "trainers" } },
      { title: "Группы", icon: "mdi-account-group", to: { name: "groups" } },
      {
        title: "Проблемы",
        icon: "mdi-clipboard-alert",
        to: { name: "issues" }
      },
      { title: "Бар", icon: "mdi-bottle-soda", to: { name: "bar-items" } }
    ],

    adminActions: [
      { title: "Залы", icon: "mdi-domain", to: { name: "halls" } },
      {
        title: "Пользователи",
        icon: "mdi-account-box",
        to: { name: "users" }
      },
      {
        title: "История посещений",
        icon: "mdi-alarm",
        to: { name: "visit-history" }
      },
      {
        title: "Продление абонементов",
        icon: "mdi-alarm",
        to: { name: "subscription-prolongation" }
      },
      {
        title: "Логи абонементов",
        icon: "mdi-file-document-edit-outline",
        to: { name: "subscriptions-event-logs" }
      },
      { title: "Заявки", icon: "mdi-phone", to: { name: "requests" } }
    ],
    paymentDate: "",
    payDialog: false
  }),

  computed: {
    hall() {
      return this.$store.getters["halls/byId"]({ id: this.selectedHallId });
    }
  },

  created() {
    this.loadPaymentDate();
  },

  methods: {
    loadPaymentDate() {
      this.$axios.get("payment-date", {}).then(response => {
        this.paymentDate = response.data;
      });
    },

    storePaymentDate() {
      this.$axios
        .post("payment-date/store ", {
          date: this.paymentDate
        })
        .then(response => {
          this.payDialog = false;
        });
    }
  }
};
</script>

<style scoped></style>
