<template>
  <v-dialog v-model="dialog" :fullscreen="fullscreen" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary" class="mb-4">
        <v-btn icon dark @click="close()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Сканер QR</v-toolbar-title>
        <div class="flex-grow-1" />
        <v-toolbar-items>
          <v-btn dark text @click="close()">Закрыть</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <div>
        <div class="d-flex justify-space-between align-center px-2">
          <v-alert dense type="info">
            {{ $t(`camera_value.${camera}`) }}
          </v-alert>
          <v-btn
            v-if="!noFrontCamera && !noRearCamera"
            color="primary mb-4"
            @click="switchCamera"
          >
            Сменить камеру
          </v-btn>
        </div>

        <qrcode-stream
          v-if="dialog"
          :camera="camera"
          @init="onInit"
          @detect="onDetect"
        >
        </qrcode-stream>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import { QrcodeStream } from "vue-qrcode-reader";

import client from "../mixins/client";

export default {
  name: "LockerClaimDialog",

  components: {
    "qrcode-stream": QrcodeStream
  },

  mixins: [client],

  props: {
    fullscreen: {
      type: Boolean,
      default: true
    }
  },

  data: () => ({
    dialog: false,
    resolve: null,
    reject: null,
    identifier_id: null,
    client_id: null,
    text: null,
    camera: "rear",
    noRearCamera: false,
    noFrontCamera: false
  }),

  computed: {
    identifier() {
      return this.$store.getters["identifiers/where"]({
        filter: { identifier: this.text }
      });
    }
  },

  methods: {
    async onInit(promise) {
      try {
        await promise;
      } catch (error) {
        const triedFrontCamera = this.camera === "front";
        const triedRearCamera = this.camera === "rear";
        const cameraMissingError = error.name === "OverconstrainedError";

        if (triedRearCamera && cameraMissingError) {
          this.noRearCamera = true;
          this.camera = "auto";
        }

        if (triedFrontCamera && cameraMissingError) {
          this.noFrontCamera = true;
          this.camera = "auto";
        }

        if (this.noRearCamera && this.noFrontCamera) {
          this.camera = "auto";
        }
      }
    },

    async onDetect(promise) {
      try {
        const {
          // eslint-disable-next-line no-unused-vars
          imageData, // raw image data of image/frame
          content, // decoded String
          // eslint-disable-next-line no-unused-vars
          location // QR code coordinates
        } = await promise;

        // console.log(content);

        // const parsed = JSON.parse(content);

        if (content) {
          this.text = content;
          this.loadClient(content);
          this.$toast.success("Клиент успешно найден");
          this.close();
        } else {
          this.$toast.error("Неизвестный формат");
        }
      } catch (error) {
        this.$toast.error("Клиент не найден. Попробуйте еще раз.");
      }
    },

    loadClient(content) {
      this.$store
        .dispatch("identifiers/loadWhere", {
          filter: {
            identifier: content
          }
        })
        .then(() => {
          console.log("Client_id" + this.identifier[0].client_id);
          this.$router.push({
            name: "clients-id",
            params: { id: this.identifier[0].client_id }
          });
          this.addRecord(this.identifier[0].client_id);
        });
    },

    addRecord(client_id) {
      this.$axios
        .post("visit-history-records", {
          datetime: this.$moment(),
          client_id,
          type: "with_card"
        })
        .then(async response => {
          await this.$store.dispatch("visit-history-records/loadById", {
            id: response.data.data.id
          });
        });
      this.$emit("create");
    },

    open() {
      this.dialog = true;
    },

    close() {
      this.dialog = false;
    },
    switchCamera() {
      switch (this.camera) {
        case "front":
          this.camera = "rear";
          break;
        case "rear":
          this.camera = "front";
          break;
      }
    }
  }
};
</script>

<style scoped></style>
