<template>
  <v-flex row>
    <v-flex xs11>
      <div>
        {{ training.client.name }}
      </div>
      <div class="my-3">
        <v-progress-linear :value="2" color="primary" rounded height="18" v-if="daysTill !== 'Просрочено'">
          <template v-slot="{ value }">
            <span class="caption">{{ daysTill || 'Не указана дата' }} </span>
          </template>
        </v-progress-linear>
        <v-alert v-else dense type="error">
          {{daysTill}}
        </v-alert>
      </div>
      <div>
        {{ training.comment }}
        <v-btn text x-small @click="commentSession">
          <v-icon>
            mdi-pencil
          </v-icon>
        </v-btn>
      </div>
    </v-flex>
    <v-flex xs1 class="my-auto">
      <v-btn text color="red" x-small @click="deleteTraining">
        <v-icon>
          mdi-delete
        </v-icon>
      </v-btn>
    </v-flex>
    <confirm ref="delete" />
    <training-session-comment-dialog
      ref="sessionComment"
      :form="training" 
    ></training-session-comment-dialog>
  </v-flex>
</template>

<script>
import TrainingSessionCommentDialog from "./TrainingSessionCommentDialog";
import Confirm from "~/components/Confirm";

export default {
  name: "TrainingClientCard",
  components: { Confirm, TrainingSessionCommentDialog },
  props: {
    training: {
      type: Object,
      required: true
    }
  },
  computed: {
    daysTill() {
      if (this.training.date_end) {
        const date = this.$moment.utc(this.training.date_end);
        const daysTill = this.$moment(this.training.date_end).diff(
            this.$moment(),
            "days"
        );
        const now = this.$moment().startOf("day");
        if (Math.abs(date.diff(now, "days") < 0)) {
          return "Просрочено";
        }
        if (Math.abs(date.diff(now, "days")) === 0) {
          return "Сегодня";
        } else if (Math.abs(date.diff(now, "days")) === 1) {
          return "Завтра";
        } else {
          return "Через " + (daysTill + 1) + " дней";
        }
      }
      return null;
    }
  },
  methods: {
    deleteTraining() {
      this.$refs.delete
        .open(
          "Удалить тренировку клиента?",
          "Вы уверены? Это действие невозможно отменить",
          { color: "red" }
        )
        .then(confirm => {
          if (confirm) {
            this.$emit("delete");
          }
        });
    },
    commentSession() {
      this.$refs.sessionComment.open().then(form => {
        this.$emit("comment", form);
      });
    }
  }
};
</script>

<style scoped></style>
