<template>
  <v-layout v-if="record">
    <v-flex xs3>
      <div style="display: flex; width: 100%">
        <div style="flex: 1 1 0%;" class="text-truncate">
          <div class="body-2 text-truncate">
            <template>
              {{ record.client.name }}
            </template>
          </div>
        </div>
      </div>
    </v-flex>

    <v-flex xs3>
      <div style="display: flex; width: 100%">
        <div style="flex: 1 1 0%;" class="text-truncate">
          <div class="body-2 text-truncate">
            <template v-if="hall">
              {{ hall.title }}
            </template>
            <v-skeleton-loader v-else type="table-cell" />
          </div>
        </div>
      </div>
    </v-flex>

    <v-flex xs3>
      <div style="display: flex; width: 100%">
        <div style="flex: 1 1 0%;" class="text-truncate">
          <div class="body-2 text-truncate">
            <!--            КОСТЫЛЬ-->
            {{
              $moment(record.datetime)
                .add(3, "hour")
                .format("ddd, DD.MM, LT")
            }}
          </div>
        </div>
      </div>
    </v-flex>
    <v-flex xs3>
      <div style="display: flex; width: 100%">
        <div style="flex: 1 1 0%;" class="text-truncate">
          <div class="body-2 text-truncate">
            {{ $t(`visit_history_record_type.${record.type}`) }}
          </div>
        </div>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "VisitHistoryRecordListItem",
  props: {
    record: {
      type: Object,
      required: true
    }
  },
  computed: {
    hall() {
      return this.$store.getters["halls/byId"]({
        id: this.record.client.primary_hall_id
      });
    }
  }
};
</script>

<style scoped></style>
