<template>
  <v-card class="mb-2 mx-auto">
    <v-card-text>
      <div class="overline">
        История абонементов
      </div>
    </v-card-text>
    <div v-if="subscriptions.length > 0">
      <card-item v-for="item in subscriptions" :key="item.id" :subscription="item" :client="client" />
    </div>
    <v-card-text v-else class="text-center">
      <v-icon style="font-size: 4rem">mdi-inbox</v-icon>
      <br />
      Пусто
    </v-card-text>

  </v-card>
</template>
<script>

import CardItem from "~/components/clients/ClientSubscriptionsHistoryCardItem";
export default {
  name: "ClientSubscriptionsHistory",
  components: {
    CardItem
  },
  props: {
    subscriptions: {
      type: Array
    },
    client: {
      type: Object,
    }
  },
};
</script>

<style scoped></style>
