<template>
  <v-list dense>
    <v-list-item>
      <v-list-item-icon>
        <v-icon>mdi-badge-account-horizontal</v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-subtitle>
          с
          {{ $moment.utc(subscription.issue_date).format("DD-MM-YYYY") }}
          &mdash; по
          {{ $moment.utc(subscription.valid_till).format("DD-MM-YYYY") }}
        </v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-action>
        <v-btn color="primary" class="ml-auto" text small @click="$refs.actionsDialog.open()">
          <v-icon>mdi-file-document-edit-outline</v-icon>
        </v-btn>
      </v-list-item-action>
    </v-list-item>

      <subscription-actions-dialog
          ref="actionsDialog"
          :subscription="subscription"
          :title="'Действия с абонементом ' + client.full_name"
      />

  </v-list>
</template>

<script>

import SubscriptionActionsDialog from "~/components/subscriptions/SubscriptionActionsDialog";
export default {
  name: "ClientSubscriptionsHistoryCardItem",
  components: {
    SubscriptionActionsDialog
  },
  props: {
    subscription: {
      type: Object
    },
    client: {
      type: Object,
    }
  }
};
</script>

<style scoped></style>
